<div style="margin: 0 auto">
    <span class="glyphicon glyphicon-menu-left"></span>
    <span class="glyphicon glyphicon-menu-left"></span>
    <span class="glyphicon glyphicon-menu-left"></span>
    <span class="glyphicon glyphicon-menu-left"></span>
    <span class="glyphicon glyphicon-menu-left"></span>
    <span class="glyphicon glyphicon-menu-left"></span>
    <span class="glyphicon glyphicon-menu-left"></span>
    <span class="glyphicon glyphicon-menu-left"></span>
    <span class="glyphicon glyphicon-menu-left"></span>
    <span class="glyphicon glyphicon-menu-left"></span>
    <span class="glyphicon glyphicon-menu-left"></span>
    <span class="glyphicon glyphicon-menu-left"></span>
    <span class="glyphicon glyphicon-menu-left"></span>
    <span class="glyphicon glyphicon-menu-left"></span>
    <span class="glyphicon glyphicon-menu-left"></span>
    <span class="glyphicon glyphicon-menu-left"></span>
    <span class="glyphicon glyphicon-menu-left"></span>
    <span class="glyphicon glyphicon-menu-left"></span>
    <span class="glyphicon glyphicon-menu-left"></span>
    <span class="glyphicon glyphicon-menu-left"></span>
    <span class="glyphicon glyphicon-menu-left"></span>
    <span class="glyphicon glyphicon-menu-left"></span>
    <span class="glyphicon glyphicon-menu-left"></span>
    <span class="glyphicon glyphicon-menu-left"></span>
    <span class="glyphicon glyphicon-menu-left"></span>
    <span class="glyphicon glyphicon-menu-left"></span>
    <span class="glyphicon glyphicon-menu-right"></span>
    <span class="glyphicon glyphicon-menu-right"></span>
    <span class="glyphicon glyphicon-menu-right"></span>
    <span class="glyphicon glyphicon-menu-right"></span>
    <span class="glyphicon glyphicon-menu-right"></span>
    <span class="glyphicon glyphicon-menu-right"></span>
    <span class="glyphicon glyphicon-menu-right"></span>
    <span class="glyphicon glyphicon-menu-right"></span>
    <span class="glyphicon glyphicon-menu-right"></span>
    <span class="glyphicon glyphicon-menu-right"></span>
    <span class="glyphicon glyphicon-menu-right"></span>
    <span class="glyphicon glyphicon-menu-right"></span>
    <span class="glyphicon glyphicon-menu-right"></span>
    <span class="glyphicon glyphicon-menu-right"></span>
    <span class="glyphicon glyphicon-menu-right"></span>
    <span class="glyphicon glyphicon-menu-right"></span>
    <span class="glyphicon glyphicon-menu-right"></span>
    <span class="glyphicon glyphicon-menu-right"></span>
    <span class="glyphicon glyphicon-menu-right"></span>
    <span class="glyphicon glyphicon-menu-right"></span>
    <span class="glyphicon glyphicon-menu-right"></span>
    <span class="glyphicon glyphicon-menu-right"></span>
    <span class="glyphicon glyphicon-menu-right"></span>
    <span class="glyphicon glyphicon-menu-right"></span>
    <span class="glyphicon glyphicon-menu-right"></span>
</div>