@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <h1>Jason Wang</h1>
    <p class="lead">3rd Year, Electrical Engineering Student, University of Toronto</p>

    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>
        Do you want to see some pictures of me? Are you curious to knowing who I am? Well too bad.
    </p>
    <p>
        Here is my brag. I am proud of being a domestic Torontorian and being able to eat all kinds of culinary
        delights including non-vegetables such as pork.
    </p>
    <p>
        Ok for real, I do graphic design, web design, mechanical design, electrical design, software design, interior design. 
        Here I only have software and electrical design. If you are looking for something else, your on the wrong page.
    </p>
    
    <h3>Some Projects</h3>
    <div title="Loading Projects">
        <p>Loading Projects ... This may take a while</p>
        @{ 
        }
    </div>
</div>