<div class="jumbotron">
    <h1>Jason Wang</h1>
    <p class="lead">3rd Year, Electrical Engineering Student, University of Toronto</p>

    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <p>Where you will usually find me</p>
    <address><p>
        Computer UG132 - SF2202<br />
        Sanford Fleming Building<br />
        Toronto, Ontario<br />
        <abbr title="Phone">P:</abbr>
        six-four-seven eight-seven-nine four-six-six-zero<br />
        <abbr title="Email">E:</abbr>
        jiashen.wang [AT] mail [DOT] utoronto [DOT] ca
    </p></address>
</div>