@{
    ViewBag.Title = "Courses";
}
<div class="jumbotron">
    <h1>Jason Wang</h1>
    <p class="lead">3rd Year, Electrical Engineering Student, University of Toronto</p>

    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>No I don't teach. Course Resources will be posted</p>
    
</div>