@{
    ViewBag.Title = "Macabre";
}
<div class="jumbotron">
    <h1>Jason Wang</h1>
    <p class="lead">3rd Year, Electrical Engineering Student, University of Toronto</p>

    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <div title="Loading Projects">
        <p>Loading Macabre pictures</p>
        @{ 
        }
    </div>
</div>