@{
    ViewBag.Title = "Robosoccer";
}
<div class="jumbotron">
    <h1>Jason Wang</h1>
    <p class="lead">3rd Year, Electrical Engineering Student, University of Toronto</p>

    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>This page is only for sharing resources for RoboSoccer. The main page is here
    <a href="http://www.utra.ca/teams/soccer/">http://www.utra.ca/teams/soccer/</a>
    </p>
    
</div>